<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Recursos</h3>
            <ul>
                <li><a href="#">Tarjetas de regalo</a></li>
                <li><a href="#">Tarjetas de regalo corporativas</a></li>
                <li><a href="#">Buscar una tienda</a></li>
                <li><a href="#">Nike Journal</a></li>
                <li><a href="#">Hazte Member</a></li>
                <li><a href="#">Descuento para estudiantes</a></li>
                <li><a href="#">Comentarios</a></li>
                <li><a href="#">Códigos promocionales</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Ayuda</h3>
            <ul>
                <li><a href="#">Obtener ayuda</a></li>
                <li><a href="#">Estado del pedido</a></li>
                <li><a href="#">Envíos y entregas</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Opciones de pago</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Evaluaciones</a></li>
                <li><a href="#">Ayuda con los códigos promocionales de Nike</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Empresa</h3>
            <ul>
                <li><a href="#">Acerca de Nike</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Empleo</a></li>
                <li><a href="#">Inversores</a></li>
                <li><a href="#">Sostenibilidad</a></li>
                <li><a href="#">Propósito</a></li>
                <li><a href="#">Informar de un problema</a></li>
            </ul>
        </div>
        <div class="footer-section2">
            <span class="españa">España</span>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <span>© 2025 Nike, Inc. Todos los derechos reservados</span>
            <a href="#">Guías</a>
            <a href="#">Términos de uso</a>
            <a href="#">Términos de venta</a>
            <a href="#">Aviso legal</a>
            <a href="#">Política de privacidad y cookies</a>
            <a href="#">Configuración de privacidad y cookies</a>
        </div>
    </div>
</footer>