<div class="container">
    <div class="auth-container">
        <div class="logo">
            <svg height="30px" width="60px" fill="#111" viewBox="0 0 69 32">
                <path d="M68.56 4L18.4 25.36Q12.16 28 7.92 28q-4.8 0-6.96-3.36-1.36-2.16-.8-5.48t2.96-7.08q2-3.04 6.56-8-1.6 2.56-2.24 5.28-1.2 5.12 2.16 7.52Q11.2 18 14 18q2.24 0 5.04-.72z"></path>
            </svg>
        </div>
        
        <h1 class="auth-title">TU CUENTA PARA TODO LO RELACIONADO CON NIKE</h1>
        
        <app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
        
        <form class="auth-form" (submit)="login()" #loginForm="ngForm">
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder=" " required [(ngModel)]="userData.email">
                <label for="email">Dirección de correo electrónico</label>
            </div>
            
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder=" " required [(ngModel)]="userData.password">
                <label for="password">Contraseña</label>
            </div>
            
            <div class="form-options">
                <div class="checkbox-container">
                    <input type="checkbox" id="remember" class="checkbox">
                    <label for="remember">Mantener sesión iniciada</label>
                </div>
                <a href="/#" class="forgot-link">¿Has olvidado la contraseña?</a>
            </div>
            
            <div class="form-text">
                <p>Al iniciar sesión, aceptas la <a href="/#">Política de privacidad</a> y los <a href="/#">Términos de uso</a> de Nike.</p>
            </div>
            
            <button type="submit" class="btn-primary" [disabled]="!loginForm.valid">INICIAR SESIÓN</button>
            
            <div class="auth-switch">
                <p>¿No tienes una cuenta? <a href="register">Únete</a></p>
            </div>
        </form>
    </div>
</div>